/* Première partie */

.blue_dblue_grad{
    display:flex;
    flex-direction: column;
    background-color: #024EAE;
    color:white;
}

.blue_dblue_grad img{
    width:100%;
    height: 8vw;
}

.blue_dblue_grad p, .blue_dblue_grad h2{
    padding-left:3%;
    padding-right:3%;
}

.blue_dblue_grad p{
    font-size:2rem;
    padding-bottom:10%;
}

/* Deuxième partie */

.doublebox{
    display:flex;
    flex-direction: column;
    margin-top:5%;
}

.doublebox_main{
    background-image: url("../img/svg/doublebox_main.svg");
    background-size: 100%;
    margin: 0;
    padding-left: 10%;
    color:white;
}

.doublebox_main p{
    font-size:2rem;
    text-align: justify;
    padding-right:5%;
}

/* Troisième partie */

.triplebox{
    display:flex;
    flex-direction: column;
}

.triplebox_main{
    background-image: url("../img/svg/triplebox_main.svg");
    background-size: 100%;
    color:white;
    padding-left:20%;
    padding-right:25%;
}

.triplebox_main p{
    font-size:2rem;
    text-align: justify;
}

/* Désactivation de l'intéraction avec les images svg */

.blue_dblue_grad img, .doublebox img, .triplebox img{
    user-select: none;
    pointer-events: none;
}

/* Oeuf */

.easter_egg {
    transition: 0.3s;
    user-select: none;
}

.easter_egg:hover {
    filter: invert();
    transition: 0.3s;
}

.easter_egg img {
    width: 2vw;
    display:initial;
}
