/** Css général **/

html, body {
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display : flex;
    flex-direction: column;
    font-size: medium;
    overflow-x: hidden;
}

.team-list{
    display: flex;
    flex-direction: column;
    color : black;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}

.page_info{
    color:white;
    background-color: #024EAE;
    font-size:60px;
    text-align:center;
    padding:2%;
}

.content{
    font-size:18px;
    padding-bottom: 60px;
}

a{
    text-decoration: none;
    font-weight:bold;
    color:#00BFF3;
}

a:hover{
    color:white;
    transition:0.3s;
}

a{
    transition:0.3s;
}

.note, .about_form, .content-events, h2{
    margin: 20px;
    padding: 0;
}

/** Css relatif à la barre de menu **/
header{
    width:100%;
    background-color: rgba(44, 44, 44, 0.5);
    display: flex;
    position:fixed;
    z-index:1;
    box-shadow:0 3px 9px rgba(0,0,0,.32);
}

header + *{
    margin-top:170px;
    filter:none;
}

.header__items ul, .wrapper{
    font-size:50px;
    flex:1;
    display:flex;
    justify-content: space-evenly;
}

.header__logo img{
    height:120px;
}

.header__logo a img.logo_box:hover + img.logo_text,
.header__logo a img.logo_text:hover {
    transition:0.3s;
    filter: grayscale(100%) brightness(200%);
}

.header__logo, .header__items{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

header li{
    list-style: none;
}

.input_header{
    display:flex;
    height:60px;
    width:500px;
    padding-left:3%;
    font-size:18px;
    margin:50px;
    border-radius:5px;
    border-color:#00BFF3;
}

@media screen and (max-width: 1700px) {
}

/** Footer **/
footer{
    background: conic-gradient(
    from 0 at 50% 25%,
    #ffffff 85deg,
    #3578be 30deg 95deg,
    #065abc 30deg 265deg,
    #3578be 240deg 275deg,
    #ffffff 240deg
    );
    display: flex;
    image-rendering: smooth;
    padding-top:13%;
    margin-top:10%;
    color: white;
    text-align: center;
    width:100%;
    /*padding-left:1%;
    padding-right:1%;*/
    flex-direction:column;
}

.footer_top{
    display:flex;
    flex-direction:column;
    background-color:#065abc;
    align-items: center;
}

.footer_logo{
    filter: brightness(0) invert(1);
    height:50%;
}

.footer_line{
    color:white;
    width:10%;
}

.footer_socials{
    padding-top:1%;
    display:flex;
    width:10%;
    padding-bottom:1%;
}

.footer_socials a, .footer_socials img{
    display:flex;
    flex:1;
    width:50%;
    padding:5%;
}

.footer_bottom{
    background-color:#212121;
    color:#636363;
}

/** Partie design de fond */

.page_top{
    display:flex;
    flex-direction:column;
    padding-top:10vh;
    width:100%;
}

.page_top h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight:200;
    color:#00BFF3;
    font-size:212px;
    text-align: center;
}

.about_info{
    margin-top:-1px;
    padding-left:5%;
    padding-right:5%;
    display:flex;
    background:#00BFF3;
    flex-direction:column;
    font-size:48px;
}

.about_info h2, .about_form_gradiant h2{
    color:white;
}

h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight:200;
    font-size:124px;
}

.about_info li{
    display:flex;
    color:white;
    justify-content: space-between;
}

.about_info li > p:first-of-type{
    font-weight: bold;
}

.about_form_gradiant{
    padding-top:25%;
    padding-left:5%;
    padding-right:5%;
    display:flex;
    background: linear-gradient(4deg, rgba(2, 78, 174, 1) 50%, rgb(0, 190, 243) 50.5%);
}

.about_form_box{
    display:flex;
    color:white;
    flex-direction:column;
    background: #024EAE;
}

.about_form_gradiant_end{
    padding-top:25%;
    padding-left:5%;
    padding-right:5%;
    display:flex;
    background: linear-gradient(1.5deg,rgba(255, 255, 255, 1) 61%, rgba(2, 78, 174, 1) 61.5%);
}

/** Partie du css relatif au système de cartes **/

.card_list{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.card{
    display:flex;
    width:500px;
    height:600px;
    flex-direction:column;
    border-radius: 5px;
    border-style:solid;
    border-color:#00bff3;
    background:gray;
    position:relative;
}

.card:hover{
    border-color:#0087ac;
}

.card_back, .card_back img{
    display:flex;
    width:100%;
    height:100%;
}

.card_overlay{
    display:flex;
    position:absolute;
    width:100%;
    height:100%;
    align-items: flex-end;
    margin-left:5%;
    transition:0.3s;
}

.card_name{
    margin-right:5%;
}

.card_name, .card_date{
    opacity:0%;
    display:flex;
    transition:0.3s;
}

.card_overlay:hover .card_name, .card_overlay:hover .card_date{
    opacity:100%;
    transition:0.3s;
}

/** Evènements **/
#Event1 {
    background-size: cover;
    background-color: blue;
}
#Event2 {
    background-size: cover;
    background-color: red;
}
#Event3 {
    background-size: cover;
    background-color: green;
}
#Event4 {
    background-size: cover;
    background-color: yellow;
}

.content-events{
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

/** Formulaire de contact **/

.about_form{
    display: flex;
    flex-direction: column;
    border-color:#00bff3;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
}

.about_form label{
    padding-top:10px;
}

.about_form_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_form_name, .about_form_mail{
    display:flex;
    flex-direction: column;
    flex:1;
    padding-left: 2px;
    padding-right: 2px;
}

.about_form_bottom{
    padding-left: 2px;
    padding-right: 2px;
    flex:1;
}

textarea{
    resize: none;
}

.submit-button{
    width: 100px;
    height: 30px;
    background-color: #0087ac;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.note{
    font-size: xx-small;
    color: grey;
    margin-top: 10px;
}

