/** Css général **/

html, body {
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display : flex;
    flex-direction: column;
    font-size: medium
}

.team-list{
    display: flex;
    flex-direction: column;
    color : black;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}

.page_info{
    color:white;
    background-color: #024EAE;
    font-size:60px;
    text-align:center;
    padding:2%;
}

.content{
    font-size:18px;
    padding-bottom: 60px;
}

/** Css relatif à la barre de menu **/
header{
    width:100%;
    background-color: rgba(255,255,255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    height:150px;
}

.header__items ul, .wrapper{
    font-size:50px;
    flex:1;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.header__line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #00bff3;
    margin-left: 2%;
    margin-right: 2%;
}

img{
    height:120px;
    width:auto;
}

.header__logo, .header__items{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-weight:bold;
    color:#00BFF3;
}

.note, form, .content-events, h2{
    margin: 20px;
    padding: 0;
}

/** Footer **/
footer{
    position: fixed;
    display: flex;
    background-color: #024EAE;
    color: white;
    text-align: center;
    bottom: 0;
    width:100%;
    padding-left:1%;
    padding-right:1%;
}

/** Partie du css relatif au système de cartes **/

/** ancienne version
.card {
    position: relative;
    color:white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.card-title{
    color: black;
    line-height: 15px;
    text-align: center;
    opacity:0 ;
}
.card-description{
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    text-align: center;
    font-size: x-large;
}
.card:hover .card-description{
    opacity: 1;
    transition-delay: .25s;
}
.Readmore{
    color:grey;
}
*/

.card_list{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.card{
    display:flex;
    width:500px;
    height:600px;
    flex-direction:column;
    border-radius: 5px;
    border-style:solid;
    border-color:#00bff3
}

.card:hover{
    border-color:#0087ac;
}

.card_upper{
    display:flex;
    flex:1;
    background:red;
}

.card_lower{
    display:flex;
    flex:1;
    flex-direction:column;
}

.card_desc{
    display:flex;
    flex:1;
    background:yellow;
}

.card_date{
    display:flex;
    background:blue;
}

/** Evènements **/
#Event1 {
    background-size: cover;
    background-color: blue;
}
#Event2 {
    background-size: cover;
    background-color: red;
}
#Event3 {
    background-size: cover;
    background-color: green;
}
#Event4 {
    background-size: cover;
    background-color: yellow;
}

.content-events{
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

/** Formulaire de contact **/

form{
    display: flex;
    flex-direction: column;
    border-color:#00bff3;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
}

form label{
    padding-top:10px;
}

textarea{
    resize: none;
}

.submit-button{
    width: 100px;
    height: 30px;
    background-color: #0087ac;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.note{
    font-size: xx-small;
    color: grey;
    margin-top: 10px;
}