/** Css général **/

html, body {
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display : flex; 
    flex-direction: column; 
    font-size: medium;
    font-size: clamp(0.6rem,3vw,1rem);
    
}

.team-list{
    display: flex;
    flex-direction: column;
    color : black;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}



/** Css relatif à la barre de menu **/

.menu{
    background-color: #0087ac;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 20px;
}

ul{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color : black;
    font-weight:bold;
}

.logo{
    width: 40px;
    height: 40px;
    margin-left :5px;
}

.note, form, .content-events, h1, h2{
    margin: 20px;
    padding: 0;
}

/** Partie du css relatif au système de cartes **/

.card {
    position: relative;
    color:white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.card-title{
    color: black;
    line-height: 15px;
    text-align: center;
    opacity:0 ;
}
.card-description{
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    text-align: center;
    font-size: x-large;
}
.card:hover .card-description{
    opacity: 1;
    transition-delay: .25s;
}
.Readmore{
    color:grey;
}

/** Evènements **/
#Event1 {
    background-size: cover;
    background-color: blue;
}
#Event2 {
    background-size: cover;
    background-color: red;
}
#Event3 {
    background-size: cover;
    background-color: green;
}
#Event4 {
    background-size: cover;
    background-color: yellow;
}

.content-events{
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

/** Formulaire de contact **/
form{
    display: flex;
    flex-direction: column;
    background-color: #00bff3;
    padding: 20px;
    border-radius: 10px;
}
.submit-button{
    width: 100px;
    height: 30px;
    background-color: #0087ac;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.note{
    font-size: xx-small;
    color: grey;
    margin-top: 10px;
}

/** Footer **/
footer {
    display: flex;
    background-color: #0087ac;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    margin-top: 10px;
    font-size: x-small;
}